
//Productos

#productos-pagina{
    padding-top: 70px;
   min-height: 100vh;
}

.productos{
    min-width: 170px !important;
    max-width: 300px !important;
}

#shop-menu{
background-color: #F7F7F7;
opacity: 1;
padding-left: 20px;
}

.filter-list-ul{
  display: flex;
  flex-direction: column;
  align-items: start;
  width: 100%;

}

#shop-menu{
  min-width: 130px;
}

li:hover{
  cursor: pointer;
}

.cartNumber{
  position: absolute;
  top: 8px;
  right: 1.8vw;
  background-color: #08A6E4;
  height: 22px;
  width: 22px;
  border-radius: 50%;
  text-align: center;
  padding: 0.5px;
  z-index: -1;
  font-size: 13px;
  color:#FFFFFF;
  border: #F7F7F7 solid 1px;
}

#cartIcon{
  z-index: 1;
}